@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
html {
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #21212E;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  background-color: #252530;
}

body .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

body header {
  min-height: 100px;
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .logoImg {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .logoImg img {
  width: 50%;
}

body header nav {
  display: block;
  float: right;
}

body header nav,
body header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 0;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body header nav li,
body header .menu li {
  height: 100%;
  list-style: none;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  text-align: left;
  white-space: nowrap;
}

body header nav .customButton,
body header .menu .customButton {
  border: 1px solid #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

body header nav .customButton a,
body header .menu .customButton a {
  color: #fff;
}

body header nav a,
body header .menu a {
  height: 100%;
  text-decoration: none;
  color: #66667e;
}

body .slideHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0% 10%;
  min-height: 60vh;
}

body .slideHeader div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: normal;
}

body .slideHeader div h1 {
  font-style: normal;
  font-weight: lighter;
  font-size: 55px;
  text-align: left;
}

body .slideHeader div p {
  line-height: 30px;
  text-align: left;
  font-weight: lighter;
  font-size: 16px;
  color: #66667e;
}

body .slideHeader div .btnSlide {
  margin-top: 10%;
}

body .slideHeader div .btnSlide a {
  padding: 3% 10%;
  border-radius: 8px;
}

body .slideHeader div .btnSlide .customButton {
  border: 1px solid #fff;
}

body .slideHeader div .btnSlide .customButtonWithBackground {
  background: linear-gradient(124deg, #609bfe 0%, #7976fd 35%, #bd11fa 100%);
  -webkit-box-shadow: 0px 0px 16px 0px #BD11FA;
          box-shadow: 0px 0px 16px 0px #BD11FA;
}

body .slideHeader div .freeImg {
  text-align: right;
  margin-right: -26%;
  height: 204.096px;
  position: relative;
  z-index: 1;
}

body .slideHeader .slideBackground {
  background-image: url("../assets/img/slideBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: -1;
  background-size: 100% 100%;
  margin-right: -13%;
}

body .slideHeader:after {
  content: "";
  width: 45%;
  position: absolute;
  height: 71vh;
  right: 0;
  background-color: #21212e;
  opacity: 0.8;
}

body .partener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8%;
}

body .partener .item-left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 2%;
  width: 100%;
}

body .partener .item-left div .specialTriangle img {
  height: 282.14px;
}

body .partener .item-left div div:not(.specialTriangle) {
  margin-right: 5%;
  padding: 35px;
  background-color: #21212e;
  border-radius: 7px;
  -webkit-box-shadow: 4px 0px 49px 10px #000000;
          box-shadow: 4px 0px 49px 10px #000000;
}

body .partener .item-left div div:not(.specialTriangle) img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

body .partener .item-right .contentText {
  padding: 31% 13% 0 13%;
}

body .partener .item-right .contentText h1 {
  font-family: Muli;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
}

body .partener .item-right .contentText p {
  font-family: Muli;
  font-weight: lighter;
  font-size: 16px;
  color: #66667e;
  line-height: 35px;
}

body .partener .item-right .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow-x: hidden;
  margin-right: -1%;
}

body .partener .item-right .circle .circleItem {
  margin-right: -25%;
}

body .partener .item-right .circle .circleItem img {
  height: 501.03px;
}

body .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .feature .mText {
  margin-top: 5%;
}

body .feature .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

body .feature div {
  width: 50%;
  padding: 0% 7%;
}

body .feature div .cardItem {
  margin-top: 45%;
  margin-right: 25%;
}

body .feature div .cardItem .card {
  margin-bottom: 15%;
}

body .feature div .mt {
  margin-top: 70%;
}

body .feature div div {
  background: #1e3538;
  width: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .feature div div span {
  color: #00ec98;
  font-size: 16px;
  font-weight: bold;
  font-family: Muli;
}

body .feature div div .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 431px;
  width: 170%;
  background-color: #21212e;
  border-radius: 10px;
  -webkit-box-shadow: 4px 0px 49px 10px #000000;
          box-shadow: 4px 0px 49px 10px #000000;
}

body .feature div div .card div {
  margin-top: 12%;
  height: 103px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 91%;
  background: #39394D;
}

body .feature div div .card div img {
  height: 60.417px;
}

body .feature div div .card h1 {
  font-size: 23px;
  font-weight: bold;
  font-family: Muli;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

body .feature div div .card p {
  font-weight: lighter;
  font-size: 16px;
  font-family: Muli;
}

body .feature div h1 {
  line-height: 40px;
  font-family: Muli;
  font-weight: bold;
  font-size: 36px;
  color: white;
}

body .feature div p {
  font-weight: lighter;
  font-size: 16px;
  color: #66667e;
  font-family: Muli;
  line-height: 35px;
  margin-bottom: 40px;
}

body .feature div a {
  padding: 3% 10%;
  border-radius: 8px;
  background: linear-gradient(124deg, #609bfe 0%, #7976fd 35%, #bd11fa 100%);
  font-size: 20px;
  color: white;
  font-family: Muli;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 16px 0px #BD11FA;
          box-shadow: 0px 0px 16px 0px #BD11FA;
}

body .evening {
  margin-top: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

body .evening .item-left {
  padding: 0 5%;
}

body .evening .item-left .blockWithBackground {
  width: 70%;
  margin: auto;
  height: 40vh;
  margin-bottom: 9%;
  background: linear-gradient(124deg, #609bfe 0%, #7976fd 35%, #bd11fa 100%);
}

body .evening .item-left .blockWithBackground div {
  height: 65px;
}

body .evening .item-left .blockWithBackground .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .evening .item-left .blockWithBackground .title h1 {
  font-family: Muli;
  font-weight: bold;
  color: #fff;
  font-size: 34px;
}

body .evening .item-left .blockWithBackground .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .evening .item-left .blockWithBackground .subtitle h2 {
  margin-left: -7%;
  font-size: 22px;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

body .evening .item-left .blockWithBackground .subtitle span {
  font-size: 13px;
  color: #090d17;
}

body .evening .item-left .divLight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  bottom: 30%;
  border-radius: 10px;
}

body .evening .item-left .divLight .lightItem {
  padding: 5%;
  background-color: #21212e;
  -webkit-box-shadow: 4px 0px 49px 10px #000000;
          box-shadow: 4px 0px 49px 10px #000000;
  border-radius: 10px;
}

body .evening .item-left .divLight .lightItem:first-child {
  margin-right: 5%;
  margin-top: 10%;
}

body .evening .item-left .divLight .lightItem:nth-child(2) {
  width: 215px;
}

body .evening .item-left .divLight .lightItem .title {
  background: #39394D;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  right: 13.5%;
  position: relative;
}

body .evening .item-left .divLight .lightItem .box .percent svg {
  width: 100%;
  height: 100%;
  margin: 15% 15% auto;
  display: block;
}

body .evening .item-left .divLight .lightItem .box .percent svg circle {
  fill: none;
  stroke: #191919;
  stroke-width: 5;
  width: 100%;
  height: 100%;
  stroke-linecap: round;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

body .evening .item-left .divLight .lightItem .box .percent svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 + (440 * 26) / 100);
  stroke: #00ec98;
}

body .evening .item-left .divLight .lightItem .box .percent .number {
  position: absolute;
  top: 44px;
  left: 220px;
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .evening .item-left .divLight .lightItem .box .percent .number h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  margin: 0;
}

body .evening .item-left .divLight .lightItem .box .percent .number h3 {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  margin: 0;
  color: #fff;
}

body .evening .item-left .divLight h1,
body .evening .item-left .divLight h2 {
  color: #fff;
  font-family: Muli;
  font-style: normal;
  white-space: nowrap;
}

body .evening .item-left .divLight h1 {
  font-size: 24px;
}

body .evening .item-left .divLight h2 {
  font-size: 16px;
}

body .evening .item-left .divLight span {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #66667e;
}

body .evening .item-left .divLight .lightHour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

body .evening .item-left .blockRuning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  position: relative;
  bottom: 50%;
  border-radius: 10px;
  left: 15%;
  height: 50vh;
  padding: 30% 0 0;
  -webkit-box-shadow: 4px 0px 49px 10px #000000;
          box-shadow: 4px 0px 49px 10px #000000;
  z-index: -1;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .evening .item-left .blockRuning .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

body .evening .item-left .blockRuning h1 {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin: 0;
}

body .evening .item-left .blockRuning span {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #8563fc;
}

body .evening .item-left .blockRuning .runingItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

body .evening .item-left .blockRuning .runingItem .cardRuning {
  width: 30%;
  -webkit-box-shadow: 4px 0px 49px 10px #000000;
          box-shadow: 4px 0px 49px 10px #000000;
  padding: 5%;
  border-radius: 10px;
}

body .evening .item-left .blockRuning .runingItem .cardRuning:nth-child(2) {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

body .evening .item-left .blockRuning .runingItem .cardRuning .headerRuning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .evening .item-left .blockRuning .runingItem .cardRuning .headerRuning span {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #00ec98;
}

body .evening .item-left .blockRuning .runingItem .cardRuning .bodyRunning {
  background: #39394D;
  width: 120%;
  margin-left: -15%;
  padding: 5%;
  margin-top: 10%;
}

body .evening .item-left .blockRuning .runingItem .cardRuning .bodyRunning h1 {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}

body .evening .item-left .blockRuning .runingItem .cardRuning .bodyRunning h2 {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #66667e;
}

body .evening .item-left .blockRuning .runingItem .cardRuning .power img {
  position: relative;
  top: 20px;
}

body .evening .item-right .mText {
  margin-top: 30%;
}

body .evening .item-right div {
  padding: 0% 7%;
}

body .evening .item-right div div {
  background: #1e3538;
  width: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .evening .item-right div div span {
  color: #00ec98;
  font-size: 16px;
  font-weight: bold;
  font-family: Muli;
}

body .evening .item-right div h1 {
  line-height: 40px;
  font-family: Muli;
  font-weight: bold;
  font-size: 36px;
  color: white;
}

body .evening .item-right div p {
  font-weight: lighter;
  font-size: 16px;
  color: #66667e;
  font-family: Muli;
  line-height: 35px;
  margin-bottom: 40px;
}

body .evening .item-right div a {
  padding: 3% 10%;
  border-radius: 8px;
  background: linear-gradient(124deg, #609bfe 0%, #7976fd 35%, #bd11fa 100%);
  font-size: 20px;
  color: white;
  font-family: Muli;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 16px 0px #BD11FA;
          box-shadow: 0px 0px 16px 0px #BD11FA;
}

body .evening .item-right .mImage {
  margin-top: 30%;
}

body .evening .item-right .mImage img {
  margin-left: 10%;
  height: 456.434px;
}

body .pricing {
  margin-top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .pricing h1 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  margin: 5px 0;
}

body .pricing span {
  font-family: Muli;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: #66667e;
}

body .pricing .priceType {
  border: 1px solid #fff;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 5%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .pricing .priceType a {
  font-family: Muli;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  color: #66667e;
}

body .pricing .priceType a:after {
  content: "";
  border-right: 1px solid #fff;
  color: #66667e;
  margin-left: 12%;
}

body .pricing .priceType a:last-child:after {
  border: none;
}

body .pricing .priceType a.active {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

body .pricing .pricingCard {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 100px;
  margin-bottom: 5%;
}

body .pricing .pricingCard_basic {
  padding: 3% 0;
  background-color: #21212e;
  -webkit-box-shadow: 4px 0px 49px 10px #000000;
          box-shadow: 4px 0px 49px 10px #000000;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 82vh;
}

body .pricing .pricingCard_basic .CardHeader {
  padding: 3%;
  background: #39394D;
  margin-bottom: 5%;
}

body .pricing .pricingCard_basic div p {
  font-family: Muli;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: #66667e;
  line-height: 60px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 75%;
}

body .pricing .pricingCard_basic div a {
  padding: 3% 10%;
  border-radius: 8px;
  background: linear-gradient(124deg, #609bfe 0%, #7976fd 35%, #bd11fa 100%);
  font-size: 20px;
  color: white;
  font-family: Muli;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 16px 0px #BD11FA;
          box-shadow: 0px 0px 16px 0px #BD11FA;
}

body .pricing .pricingCard_business {
  background-color: #21212e;
  -webkit-box-shadow: 4px 0px 49px 10px #000000;
          box-shadow: 4px 0px 49px 10px #000000;
  border-radius: 10px;
  padding: 3% 0;
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  position: relative;
  z-index: 10;
  bottom: 55px;
}

body .pricing .pricingCard_business .CardHeader {
  padding: 3%;
  background: #39394D;
  margin-bottom: 5%;
}

body .pricing .pricingCard_business div p {
  font-family: Muli;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: #66667e;
  line-height: 60px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 70%;
}

body .pricing .pricingCard_business div a {
  padding: 3% 10%;
  border-radius: 8px;
  background: linear-gradient(124deg, #609bfe 0%, #7976fd 35%, #bd11fa 100%);
  font-size: 20px;
  color: white;
  font-family: Muli;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 16px 0px #BD11FA;
          box-shadow: 0px 0px 16px 0px #BD11FA;
}

body .pricing .pricingCard_company {
  background-color: #21212e;
  -webkit-box-shadow: 4px 0px 49px 10px #000000;
          box-shadow: 4px 0px 49px 10px #000000;
  border-radius: 10px;
  padding: 3% 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 82vh;
}

body .pricing .pricingCard_company .CardHeader {
  padding: 3%;
  background: #39394D;
  margin-bottom: 5%;
}

body .pricing .pricingCard_company div p {
  font-family: Muli;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: #66667e;
  line-height: 60px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 75%;
}

body .pricing .pricingCard_company div a {
  padding: 3% 10%;
  border-radius: 8px;
  background: linear-gradient(124deg, #609bfe 0%, #7976fd 35%, #bd11fa 100%);
  font-size: 20px;
  color: white;
  font-family: Muli;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 16px 0px #BD11FA;
          box-shadow: 0px 0px 16px 0px #BD11FA;
}

body .pricing .freeImg {
  width: 100%;
}

body .pricing .freeImg img {
  height: 210.727px;
}
/*# sourceMappingURL=style.css.map */